.inviteSec {
    width: 100vw;
    height: 100vh;
    background-color: white;
    color: black;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

    .photo {
        max-width: 678px;
        max-height: 440px;
    }

    .message {
        width: 397px;
        height: 312px;

        .title {
            font-weight: 800;
            font-size: 48px;
            line-height: 60px;
            margin: 0 0 20px 0;
            color: #23262B;
            // height: 172px;
        }

        .text {
            // height: 116px;
            color: #23262B;
            line-height: 31px;
            font-size: 18px;
        }
    }
}