.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100vw;

    .back1 {
        position: absolute;
        bottom: 0;
        left: -350px;
    }

    .back2 {
        position: absolute;
        bottom: 0;
        right: -300px;
    }
}